<h1 id="tableLabel" class="text-center">Augen book store</h1>

<p *ngIf="!books"><em>Loading...</em></p>

<div class="container" *ngIf="books">
  <form #userForm="ngForm">
    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button" (click)="onSubmit()">Search</button>
        </div>
        <input type="text" class="form-control" placeholder="Search by book title or author" aria-label="" aria-describedby="basic-addon1" [(ngModel)]="filter" name="filter">
      </div>
    </div>
  </form>

  <div class="container">
    <div class="row" id="contentPanel">
      <div class="col-sm-12 col-md-6 col-lg-4 pb-2" *ngFor="let bookItem of books; let bookItemIndex = index">
        <div class="card card-outline-info" id="{{bookItemIndex}}Panel" (click)="openModal(bookdetailtemplate,
            bookItem.title,
            bookItem.authors ? bookItem.authors[0] : '',
            bookItem.publishedDate,
            bookItem.subtitle)">
          <div class="card-block">
            <div class="card-title p-2">
              <svg class="bd-placeholder-img card-img-top"
                   xmlns="http://www.w3.org/2000/svg"
                   preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap" >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6">Image cap</text>
              </svg>
            </div>
            <div class="card-body">
              <p class="card-text text-center">{{ bookItem.title }}</p>
              <p class="card-text text-center">{{ bookItem.authors ? bookItem.authors[0] : '' }} - {{ bookItem.publishedDate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #bookdetailtemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Book detail</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row mb-3">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <p>
            <svg class="bd-placeholder-img card-img-top" width="150px" height="200px"
                 xmlns="http://www.w3.org/2000/svg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#868e96"></rect>
              <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
            </svg>
          </p>
          <p class="card-text text-center">{{currentBook.title}}</p>
          <p class="card-text text-center">{{ currentBook.author }} - {{ currentBook.publishedDate }}</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <p>{{currentBook.subtitle}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <header>
            <h5>Ship via</h5>
            <hr />
          </header>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center">
          <div class="btn-group btn-group-justified">
            <div class="btn-group">
              <button type="button" class="btn btn-success" (click)="onSelectDeliveryType('motorbike', deliveryCosts.motorbike)">Motobike {{deliveryCosts.motorbike | currency}}</button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-primary" (click)="onSelectDeliveryType('train', deliveryCosts.train)">Train {{deliveryCosts.train | currency}}</button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-warning" (click)="onSelectDeliveryType('aircraft', deliveryCosts.aircraft)">Aircraft {{deliveryCosts.aircraft | currency}}</button>
            </div>
          </div>
        </div>
      </div>
      </div>

    </div>
  <div class="modal-footer text-center">
    <button [disabled]="!buyBookModel.deliveryService" type="button" class="btn btn-danger btn-block" (click)="onBuyBook(buybooktemplate)">Buy</button>
  </div>
</ng-template>

<ng-template #buybooktemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delivery Information</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{deliveryMessage}}
  </div>
</ng-template>
