<h1 id="tableLabel">Augen book store</h1>

<p *ngIf="!books"><em>Loading...</em></p>

<div class="container">
  <form #userForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button" (click)="onSubmit()">Search</button>
        </div>
        <input type="text" class="form-control" placeholder="Search by book title or author" aria-label="" aria-describedby="basic-addon1" [(ngModel)]="filter" name="filter">
      </div>
    </div>
  </form>
  

  <div class="bd-example">
    <div class="card-group">
      <div class="card mb-3" *ngFor="let bookItem of books">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96"></rect>
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
        </svg>
        <div class="card-body">
          <p class="card-text">{{ bookItem.title }}</p>
          <p class="card-text">{{ bookItem.authors ? bookItem.authors[0] : '' }} - {{ bookItem.publishedDate }}</p>
          <button type="button" class="btn btn-primary" (click)="staticModal.show()">Detail</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Modal Popup</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This is static modal popup, backdrop click will not close it. Click
        <b>&times;</b> to close modal.
      </div>
    </div>
  </div>
</div>
